.legend-color-box {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border-radius: 50%;
}

@media only screen and (max-width: 900px) {
    li.legend-item {
        display: block;
        width: 50%;
        float: left;
    }
}

@media only screen and (min-width: 900px) {
    li.legend-item {
        display: block;
        width: 25%;
        float: left;
    }
}
