@import "../styles/_colors.scss";

.Landing {
    text-align: center;
}

.Landing-logo {
    height: 40vmin;
    pointer-events: none;
}

.Landing-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Landing-link {
    color: #61dafb;
}
